<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAskMeWebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.100.200.252:8888/askme" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAskMeWebService" contract="IAskMeWebService"
                name="BasicHttpBinding_IAskMeWebService" />
        </client>
    </system.serviceModel>
</configuration>