<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BLTools.45" version="20170809.16.0" targetFramework="net462" />
  <package id="BLTools.WPF.45" version="20170809.16.0" targetFramework="net462" />
  <package id="BLTools.WPF.Controls.45" version="20170809.16.0" targetFramework="net462" />
</packages>