<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAskMeWeb" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.100.200.252:8888/askme" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IAskMeWeb" contract="IAskMeWeb"
          name="BasicHttpBinding_IAskMeWeb" />
    </client>
  </system.serviceModel>
</configuration>